html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

form {
  align-items: center;
  display: flex;
  height: calc(100% - 80px);
  justify-content: center;
}

.container .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 0 auto;
  column-gap: 4%;
}

.select-dropdown li img {
  border-radius: 100%;
  overflow: hidden;
}

.title {
  color: var(--huezoos-light-green-3);
  font-size: 20px;
  text-align: center;
}

.success-message {
  margin: 0 auto;
  max-width: 520px;
}

.success-message p {
  text-align: center;
}

.buttons {
  display: flex;
  margin: 0 auto;
}