html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

form {
  align-items: center;
  display: flex;
  height: calc(100% - 80px);
  justify-content: center;
}

.container .content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 0 auto;
  column-gap: 4%;
}

.select-dropdown li img {
  border-radius: 100%;
  overflow: hidden;
}