#calendar .modal-overlay{
  display: none !important;
}

#calendar .datepicker-modal {
  position: initial;
  max-width: 100%;
  width: 100%;
  transform: none !important;
  top: initial !important;
  z-index: 1 !important;
}

#calendar .confirmation-btns {
  display: none;
}

#calendar .datepicker-date-display .date-text {
  font-size: 1.8rem;
  line-height: 1.2;
}